@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.aksiya {
  position: absolute;
  background-color: red;
  padding: 9px 70px;
  bottom: 20px;
  right: -40px;
  transform: rotate(-40deg);
}

.aksiya2 {
  position: absolute;
  background-color: red;
  padding: 9px 70px;
  top: 20px;
  left: -40px;
  transform: rotate(-40deg);
}

.products__card__bottom__button {
  background-color: white;
  border-radius: 5px;
}
.products__card__bottom__button:hover {
  background-color: red;
  color: black;
  border-radius: 5px;
}

.header__nav__left__list__item a:hover {
  color: red;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: red;
  color: white;
}

a:hover {
  color: red;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.imkon-talim__info {
  border: none;
}
.imkon-talim__info .imkon-talim__img {
  width: 30%;
}
.imkon-talim__info .imkon-talim__img__img {
  width: 40%;
}

.container2 {
  width: 60%;
  margin: 0 auto;
  max-width: 1440px;
}

.bg-lvl {
  background-color: #F5F5F5;
  padding: 30px;
  border-radius: 30px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover button {
  background-color: #3e8e41;
}

.footer {
  display: grid;
}

.footer__top {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.footer__top__about {
  display: flex;
  gap: 40%;
  font-size: 20px;
  padding: 40px 0px;
  justify-content: center;
}

.footer__top__about li a {
  color: #56585E;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  align-items: center;
}

.footer__top__about li a:hover {
  background-color: rgba(255, 255, 0, 0.574);
  color: blue;
  padding: 5px;
  transition: 0.5s;
}

.footer__top__about__left {
  display: grid;
  gap: 20px;
}

.footer__top__about__right {
  display: grid;
  gap: 20px;
}

.footer__top__info__tell {
  display: grid;
  gap: 40px;
}

.footer__top__info__tell li {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  color: #56585E;
  border-bottom: 1px solid #56585E;
  padding-bottom: 20px;
}

.footer__top__info__tell li a {
  display: flex;
  font-size: 25px;
  gap: 7px;
  align-items: center;
}

.footer__top__info__tell li a p {
  color: #56585E;
}

.footer__top__info__tell li a i {
  color: #56585E;
}

.footer__bottom {
  padding: 40px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__bottom__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 23px 0px;
  text-align: center;
}

.footer__bottom__content a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  background-color: #56585E;
  padding: 10px;
  width: 100%;
  justify-content: center;
  border-radius: 30px;
  text-align: center;
}

.footer__bottom__content a p {
  color: white;
}

.footer__bottom__content a i {
  color: white;
}

@media (min-width: 768px) {
  .footer {
    align-items: center;
    gap: 20px;
  }
  .footer__top {
    gap: 20px;
    justify-content: center;
  }
  .footer__top__info__tell li a {
    display: flex;
    font-size: 25px;
    gap: 25px;
    align-items: center;
  }
  .footer__top__info__tell li a p {
    color: #56585E;
  }
  .footer__top__info__tell li a i {
    color: #56585E;
  }
  .footer__bottom__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 23px 0px;
    text-align: center;
  }
  .footer__bottom__content a {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    font-size: 30px;
    background-color: #56585E;
    padding: 10px;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .footer__top__about {
    padding-right: 170px;
  }
  .footer__top__info__tell li a {
    display: flex;
    font-size: 25px;
    gap: 70px;
    align-items: center;
  }
  .footer__bottom {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: end;
  }
  .footer__bottom__content {
    display: flex;
    width: 23%;
    text-align: center;
    align-items: center;
  }
  .footer__bottom__content a {
    justify-content: center;
  }
}
.header {
  background: #FFFFFF;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0px;
  z-index: 999;
  display: grid;
  flex-direction: column;
}

.header .header__nav__right__dropdown__btn {
  border-left: 1px solid;
}

.header .header__nav__btn-hamburger {
  width: 20px;
  background: black;
  padding: 10px 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  font-size: 23px;
}

.header .header__nav__shrink {
  box-shadow: 0px 0px 30px rgb(0, 81, 255);
}

.header .header__nav__logo {
  display: flex;
  font-size: 11px;
  width: 12px;
  gap: 6px;
  font-weight: 500;
}

.header .header__nav__left {
  display: flex;
  color: #828388;
  z-index: 999;
}

.header .header__nav .header__nav__list.togle {
  left: 0;
}

.header .header__nav__list {
  padding: 120px 0px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  text-align: center;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

.header .header__nav__list__button {
  border: 1px solid #184AFB;
  color: #184AFB;
  width: 160px;
  height: 52px;
  border-radius: 30px;
  background-color: white;
}

.header .header__nav__list__button i {
  color: #184AFB;
}

.header .header__nav__list a {
  background: white;
  color: #828388;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  border: 3px solid;
}

.header .header__nav__list a:hover {
  color: yellow;
  background-color: #1F1D14;
}

.header .header__nav__list-show {
  left: 0;
}

@media (min-width: 800px) {
  .header {
    padding: 9px 0px;
  }
  .header .header__nav {
    display: flex;
  }
  .header .header__nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 162px;
  }
  .header .header__nav__logo__title {
    font-size: 22px;
  }
  .header .header__nav__right {
    display: none;
    width: 500px;
    justify-content: end;
  }
  .header .header__nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 10px;
    display: flex;
  }
  .header .header__nav__list a {
    background: none;
    color: #828388;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    display: flex;
    align-items: center;
    gap: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header .header__nav__btns .header__nav__btn-hamburger {
    display: none;
  }
}
@media (min-width: 1388px) {
  .header .header__nav__right {
    display: flex;
  }
}
.hero {
  padding: 60px 0px;
  text-align: center;
  display: flexa;
}

.hero__img {
  width: 100%;
}

.hero__img img {
  width: 100%;
}

.hero__info {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 30px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__info__title {
  font-size: 10px;
}

.hero__info__discription {
  color: #828388;
  font-size: 10px;
  width: 90%;
}

@media (min-width: 768px) {
  .hero__info__title {
    font-size: 25px;
  }
  .hero__info__discription {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .hero__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 190px;
  }
  .hero__info__title {
    font-size: 48px;
    width: 40%;
  }
  .hero__info__discription {
    font-size: 22px;
    width: 32%;
  }
}
.about {
  display: grid;
  gap: 20px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #CCC;
}

.about #about__title {
  display: flex;
  gap: 3px;
  align-items: center;
}

.about__img {
  border: 1px solid #CCC;
  padding: 50px;
  border-radius: 8px;
  width: 100%;
}

.about__img img {
  width: 100%;
}

.about__info {
  display: grid;
  gap: 20px;
}

.about__info__main {
  font-size: 10px;
}

.about__info__discription {
  font-size: 10px;
  color: #828388;
}

.about__info__button {
  padding: 6px 35px;
  border: 1px solid #184AFB;
  color: #184AFB;
  border-radius: 30px;
  background-color: white;
  font-size: 19px;
}

@media (min-width: 768px) {
  .about__info {
    align-items: center;
  }
  .about__info__main {
    font-size: 25px;
  }
  .about__info__discription {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .about {
    align-items: start;
    padding: 80px 0px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .about #about__title {
    font-size: 26px;
    gap: 10px;
  }
  .about__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 20px;
  }
  .about__info__main {
    font-size: 37px;
    width: 97%;
  }
  .about__info__discription {
    font-size: 20px;
    width: 82%;
  }
  .about__info__button {
    padding: 10px 68px;
  }
}
.maqsad {
  padding: 100px 0px;
  gap: 20px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #CCC;
}

.maqsad__batafsil {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 20px 0px;
}

.maqsad__top {
  display: grid;
  gap: 10px;
  padding: 20px 0px;
}

.maqsad__bottom {
  display: grid;
  gap: 30px;
}

.maqsad__select {
  display: grid;
  justify-content: space-between;
  height: 100%;
  padding-top: 120px;
  padding-left: 20px;
}

.maqsad__select__row {
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  font-size: 17px;
  text-align: start;
  gap: 8px;
}

.maqsad__select__row i {
  font-size: 22px;
  border: 1px solid;
  padding: 4px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.maqsad #maqsad__title {
  display: flex;
  gap: 3px;
  align-items: center;
}

.maqsad__img {
  border: 1px solid #CCC;
  padding: 10%;
  border-radius: 8px;
  width: 100%;
  font-size: 10px;
}

.maqsad__img img {
  width: 100%;
}

.maqsad__info {
  display: grid;
  gap: 20px;
}

.maqsad__info__main {
  font-size: 10px;
}

.maqsad__info__discription {
  font-size: 10px;
  color: #828388;
}

.maqsad__info__button {
  padding: 6px 35px;
  border: 1px solid #184AFB;
  color: #184AFB;
  border-radius: 30px;
  background-color: white;
  font-size: 19px;
}

@media (min-width: 768px) {
  .maqsad__info {
    align-items: center;
  }
  .maqsad__info__main {
    font-size: 25px;
  }
  .maqsad__info__discription {
    font-size: 17px;
  }
  .maqsad__img {
    border: 1px solid #CCC;
    padding: 10%;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
  }
  .maqsad__img img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .maqsad {
    align-items: start;
    padding: 80px 0px;
  }
  .maqsad__top {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    padding-right: 520px;
    text-align: start;
  }
  .maqsad__bottom {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
  }
  .maqsad #maqsad__title {
    font-size: 26px;
    gap: 10px;
  }
  .maqsad__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 20px;
  }
  .maqsad__info__main {
    font-size: 37px;
    width: 97%;
  }
  .maqsad__info__discription {
    font-size: 20px;
    width: 82%;
  }
  .maqsad__info__button {
    padding: 10px 68px;
  }
}
.talim {
  padding: 100px 0px;
  display: grid;
  gap: 20px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #CCC;
}

.talim__select {
  display: grid;
  justify-content: space-between;
  height: 100%;
  padding-top: 120px;
  padding-left: 20px;
}

.talim__select__row {
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  font-size: 17px;
  text-align: start;
  gap: 8px;
}

.talim__select__row i {
  font-size: 22px;
  border: 1px solid;
  padding: 4px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.talim #talim__title {
  display: flex;
  gap: 3px;
  align-items: center;
}

.talim__img {
  border: 1px solid #CCC;
  padding: 50px;
  border-radius: 8px;
  width: 100%;
}

.talim__img img {
  width: 100%;
}

.talim__info {
  display: grid;
  gap: 20px;
}

.talim__info__main {
  font-size: 10px;
}

.talim__info__discription {
  font-size: 10px;
  color: #828388;
}

.talim__info__button {
  padding: 6px 35px;
  border: 1px solid #184AFB;
  color: #184AFB;
  border-radius: 30px;
  background-color: white;
  font-size: 19px;
}

@media (min-width: 768px) {
  .talim__info {
    align-items: center;
  }
  .talim__info__main {
    font-size: 25px;
  }
  .talim__info__discription {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .talim {
    align-items: start;
    padding: 80px 0px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .talim #talim__title {
    font-size: 26px;
    gap: 10px;
  }
  .talim__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 20px;
  }
  .talim__info__main {
    font-size: 37px;
    width: 97%;
  }
  .talim__info__discription {
    font-size: 20px;
    width: 82%;
  }
  .talim__info__button {
    padding: 10px 68px;
  }
}
.imkoniyat {
  padding: 100px 0px;
  gap: 20px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #CCC;
}

.imkoniyat .logo {
  font-size: 30px;
  padding-top: 30px;
}

.imkoniyat p {
  color: #596283;
}

.imkoniyat__batafsil {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 20px 0px;
}

.imkoniyat__top {
  display: grid;
  gap: 10px;
  padding: 20px 0px;
}

.imkoniyat__bottom {
  display: grid;
  gap: 20px;
  align-items: end;
}

.imkoniyat__select {
  display: grid;
  justify-content: space-between;
  height: 100%;
  padding-top: 120px;
  padding-left: 20px;
}

.imkoniyat__select__row {
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  font-size: 17px;
  text-align: start;
  gap: 8px;
}

.imkoniyat__select__row i {
  font-size: 22px;
  border: 1px solid;
  padding: 4px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.imkoniyat #imkoniyat__title {
  display: flex;
  gap: 3px;
  align-items: center;
}

.imkoniyat__info {
  display: grid;
  gap: 20px;
  align-items: center;
}

.imkoniyat__info__main {
  font-size: 10px;
}

.imkoniyat__info__discription {
  font-size: 10px;
  color: #828388;
}

.imkoniyat__info__button {
  padding: 6px 35px;
  border: 1px solid #184AFB;
  color: #184AFB;
  border-radius: 30px;
  background-color: white;
  font-size: 19px;
}

.imkoniyat__info__img {
  border-bottom: 1px solid #CCC;
  padding: 10%;
  border-radius: 8px;
  width: 100%;
  font-size: 10px;
  background-color: rebeccapurple;
}

.imkoniyat__info__img__logo {
  font-size: 20px;
}

@media (min-width: 768px) {
  .imkoniyat .logo {
    font-size: 60px;
  }
  .imkoniyat p {
    font-size: 30px;
  }
  .imkoniyat__info {
    display: grid;
    align-items: center;
  }
  .imkoniyat__info__main {
    font-size: 25px;
  }
  .imkoniyat__info__discription {
    font-size: 17px;
  }
  .imkoniyat__img {
    border-bottom: 1px solid #CCC;
    padding: 10%;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
  }
  .imkoniyat__img img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .imkoniyat {
    align-items: end;
    padding: 80px 0px;
  }
  .imkoniyat p {
    font-size: 20px;
  }
  .imkoniyat__top {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    padding-right: 520px;
    text-align: start;
  }
  .imkoniyat__bottom {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: flex;
    justify-content: end;
    padding: 30px 0px;
    gap: 30px;
  }
  .imkoniyat #imkoniyat__title {
    font-size: 26px;
    gap: 10px;
  }
  .imkoniyat__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 20px;
  }
  .imkoniyat__info__main {
    font-size: 37px;
    width: 97%;
  }
  .imkoniyat__info__discription {
    font-size: 20px;
    width: 82%;
  }
  .imkoniyat__info__button {
    padding: 10px 68px;
  }
  .imkoniyat__info .imkoniyat__img__logo {
    font-size: 40px;
  }
}
.imkoniyat2 {
  padding: 100px 0px;
  gap: 20px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #CCC;
}

.imkoniyat2__batafsil {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 20px 0px;
}

.imkoniyat2__top {
  display: grid;
  gap: 10px;
  padding: 20px 0px;
}

.imkoniyat2__bottom {
  display: grid;
  gap: 30px;
  padding: 20px 0px;
}

.imkoniyat2__select {
  display: grid;
  justify-content: space-between;
  height: 100%;
  padding-top: 120px;
  padding-left: 20px;
}

.imkoniyat2__select__row {
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  font-size: 17px;
  text-align: start;
  gap: 8px;
}

.imkoniyat2__select__row i {
  font-size: 22px;
  border: 1px solid;
  padding: 4px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.imkoniyat2 #imkoniyat2__title {
  display: flex;
  gap: 3px;
  align-items: center;
}

.imkoniyat2__img {
  padding: 10%;
  border-radius: 8px;
  width: 100%;
  font-size: 10px;
}

.imkoniyat2__img img {
  width: 100%;
}

.imkoniyat2__info {
  display: grid;
  gap: 20px;
}

.imkoniyat2__info__main {
  font-size: 10px;
}

.imkoniyat2__info__discription {
  display: flex;
  font-size: 10px;
  color: #828388;
  align-items: center;
}

.imkoniyat2__info__discription i {
  font-size: 34px;
}

.imkoniyat2__info__button {
  padding: 6px 35px;
  border: 1px solid #184AFB;
  color: #184AFB;
  border-radius: 30px;
  background-color: white;
  font-size: 19px;
}

@media (min-width: 768px) {
  .imkoniyat2__info {
    align-items: center;
  }
  .imkoniyat2__info__main {
    font-size: 25px;
  }
  .imkoniyat2__info__discription {
    font-size: 17px;
  }
  .imkoniyat2__img {
    background-color: #F5F5F5;
    padding: 10%;
    border-radius: 8px;
    width: 100%;
    font-size: 24px;
  }
  .imkoniyat2__img img {
    width: 40%;
    padding: 0px 0px 40px 0px;
  }
}
@media (min-width: 1200px) {
  .imkoniyat2 {
    align-items: start;
    padding: 80px 0px;
  }
  .imkoniyat2__top {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    padding-right: 520px;
    text-align: start;
  }
  .imkoniyat2__bottom {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
  }
  .imkoniyat2 #imkoniyat2__title {
    font-size: 26px;
    gap: 10px;
  }
  .imkoniyat2__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 20px;
  }
  .imkoniyat2__info__main {
    font-size: 37px;
    width: 97%;
  }
  .imkoniyat2__info__discription {
    font-size: 20px;
    width: 82%;
  }
  .imkoniyat2__info__button {
    padding: 10px 68px;
  }
}
.imkon-talim {
  padding: 100px 0px;
  gap: 20px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #CCC;
}

.imkon-talim__batafsil {
  align-items: center;
  gap: 4px;
  padding: 5px 30px;
  border-radius: 20px;
  border: 1px solid blue;
  color: blue;
}

.imkon-talim__top {
  display: grid;
  gap: 10px;
  padding: 20px 0px;
}

.imkon-talim__bottom {
  display: grid;
  gap: 30px;
}

.imkon-talim #imkon-talim__title {
  display: flex;
  gap: 3px;
  align-items: center;
}

.imkon-talim__img {
  width: 100%;
  font-size: 10px;
}

.imkon-talim__img__title p {
  font-size: 20px;
  padding: 20px 0px;
}

.imkon-talim__img img {
  width: 100%;
}

.imkon-talim__info {
  display: grid;
  gap: 10px;
  border: 1px solid #CCC;
  border-radius: 8px;
  padding: 20px;
}

.imkon-talim__info__main {
  font-size: 10px;
}

.imkon-talim__info__discription {
  font-size: 10px;
  color: #828388;
}

.imkon-talim__info__button {
  padding: 6px 35px;
  border: 1px solid #184AFB;
  color: #184AFB;
  border-radius: 30px;
  background-color: white;
  font-size: 19px;
}

@media (min-width: 768px) {
  .imkon-talim__info {
    align-items: center;
    padding: 30px;
  }
  .imkon-talim__info__discription {
    font-size: 17px;
  }
  .imkon-talim__img {
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
  }
  .imkon-talim__img img {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .imkon-talim {
    align-items: start;
    padding: 30px 0px;
  }
  .imkon-talim__top {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    padding-right: 500px;
    text-align: start;
  }
  .imkon-talim__bottom {
    align-items: end;
    justify-content: end;
  }
  .imkon-talim #imkon-talim__title {
    font-size: 26px;
    gap: 10px;
  }
  .imkon-talim__info {
    flex-direction: row;
    display: flex;
    text-align: start;
    justify-content: end;
    padding: 10px 40px;
  }
  .imkon-talim__info__main {
    font-size: 37px;
    width: 87%;
  }
  .imkon-talim__info__discription {
    font-size: 20px;
  }
}
.home-end {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.home-end__left {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.home-end__left img {
  width: 100%;
}

.home-end__right {
  display: flex;
  width: 100%;
  display: grid;
  border-radius: 10px;
  gap: 20px;
  background-color: #F5F5F5;
  padding: 20px 70px;
}

.home-end__right__buttons {
  gap: 30px;
  justify-content: space-between;
}

.home-end__right button {
  background-color: blue;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 100px;
  height: 40px;
}

@media (min-width: 800px) {
  .home-end {
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .home-end__right {
    display: flex;
    width: 100%;
    display: grid;
    border-radius: 10px;
    gap: 20px;
    background-color: #F5F5F5;
    padding: 20px 70px;
  }
  .home-end__right__buttons {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
  .home-end__right button {
    background-color: blue;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 100px;
    height: 40px;
  }
}
.talim-page__hero {
  display: grid;
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 20px;
}

.talim-page__hero__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  justify-content: center;
  font-size: 17px;
  align-items: center;
}

.talim-page__hero__info__button {
  width: 40%;
  padding: 8px 0px;
  align-items: center;
  background-color: #184AFB;
  border: none;
  border-radius: 20px;
  color: white;
}

.talim-page__hero__info__discription {
  display: flex;
  align-items: center;
  gap: 10px;
}

.talim-page__hero__img {
  width: 100%;
  padding: 20px 0px;
}

.talim-page__hero__img img {
  width: 100%;
}

@media (min-width: 768px) {
  .talim-page__hero__info {
    font-size: 30px;
  }
  .talim-page__hero__info__button {
    width: 20%;
    padding: 6px 0px;
    align-items: center;
    background-color: #184AFB;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    color: white;
  }
}
@media (min-width: 1200px) {
  .talim-page__hero {
    padding: 20px 70px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .talim-page__hero__info {
    font-size: 30px;
    text-align: start;
    align-items: start;
    gap: 20px;
  }
  .talim-page__hero__info__button {
    width: 30%;
    padding: 6px 0px;
    align-items: center;
    background-color: #184AFB;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    margin-top: 90px;
  }
  .talim-page__hero__img {
    padding-left: 40px;
    width: 90%;
    display: grid;
    align-items: end;
  }
  .talim-page__hero__img img {
    width: 80%;
  }
}
.talim-pg__working {
  padding: 100px 0px;
  gap: 20px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #CCC;
}

.talim-pg__working__batafsil {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 20px 0px;
}

.talim-pg__working__top {
  display: grid;
  gap: 10px;
  padding: 20px 0px;
}

.talim-pg__working__bottom {
  display: grid;
  gap: 30px;
  padding: 20px 0px;
}

.talim-pg__working__select {
  display: grid;
  justify-content: space-between;
  height: 100%;
  padding-top: 120px;
  padding-left: 20px;
}

.talim-pg__working__select__row {
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  font-size: 17px;
  text-align: start;
  gap: 8px;
}

.talim-pg__working__select__row i {
  font-size: 22px;
  border: 1px solid;
  padding: 4px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.talim-pg__working #talim-pg__working__title {
  display: flex;
  gap: 3px;
  align-items: center;
}

.talim-pg__working__img {
  padding: 10%;
  border-radius: 8px;
  width: 100%;
  font-size: 10px;
}

.talim-pg__working__img img {
  width: 100%;
}

.talim-pg__working__info {
  display: grid;
  gap: 20px;
}

.talim-pg__working__info__main {
  font-size: 10px;
}

.talim-pg__working__info__discription {
  display: grid;
  gap: 20px;
  font-size: 15px;
  color: #828388;
  align-items: center;
}

.talim-pg__working__info__discription i {
  font-size: 34px;
}

.talim-pg__working__info__button {
  padding: 6px 35px;
  border: 1px solid #184AFB;
  color: #184AFB;
  border-radius: 30px;
  background-color: white;
  font-size: 19px;
}

@media (min-width: 768px) {
  .talim-pg__working__info {
    align-items: center;
  }
  .talim-pg__working__info__main {
    font-size: 25px;
  }
  .talim-pg__working__info__discription {
    font-size: 17px;
  }
  .talim-pg__working__img {
    background-color: #F5F5F5;
    padding: 10%;
    border-radius: 8px;
    width: 100%;
    font-size: 24px;
  }
  .talim-pg__working__img img {
    width: 40%;
    padding: 0px 0px 40px 0px;
  }
}
@media (min-width: 1200px) {
  .talim-pg__working {
    padding: 80px 0px;
  }
  .talim-pg__working__img {
    background-color: #F5F5F5;
    display: flex;
    padding: 2%;
    border-radius: 8px;
    width: 100%;
    gap: 30px;
    font-size: 24px;
  }
  .talim-pg__working__img img {
    width: 70%;
    padding: 0px 0px 40px 0px;
  }
  .talim-pg__working__top {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    padding-right: 520px;
    text-align: start;
  }
  .talim-pg__working__bottom {
    align-items: center;
    justify-content: space-between;
  }
  .talim-pg__working #talim-pg__working__title {
    font-size: 26px;
    gap: 10px;
  }
  .talim-pg__working__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 20px;
  }
  .talim-pg__working__info__main {
    font-size: 37px;
    width: 97%;
  }
  .talim-pg__working__info__discription {
    font-size: 20px;
    width: 82%;
  }
  .talim-pg__working__info__button {
    padding: 10px 68px;
  }
}
.maqsad {
  border-top: 2px solid #CCCCCC;
}

.maqsad__logo {
  display: flex;
  gap: 10px;
}

.maqsad__box {
  margin: 0px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.maqsad__title {
  font-size: 32px;
  font-weight: 600;
}

.maqsad__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.maqsad__bosh {
  display: flex;
  flex-direction: column;
  /* align-items: center;  */
}

.maqsad__box-itms {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.maqsad__box__itms__img {
  width: 100%;
  padding: 25px 25px;
  border-radius: 10px;
  border: 2px solid #CCCCCC;
}

.maqsad__box__itms__img img {
  width: 100%;
}

.maqsad__texts {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid;
}

.maqsad__dumaloq {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 120px;
  height: 25px;
  color: #184AFB;
  border-radius: 40px;
  border: 2px solid #CCCCCC;
}

.talim__blog {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: 25px;
  margin: 0px 0px 50px;
}

.talim__box__itms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid rgba(204, 204, 204, 0.8);
  padding: 20px 20px;
  border-radius: 10px;
}

.talim__itms__titl {
  font-family: "Michroma", sans-serif;
  color: #2E3038;
}

.talim__itms__title {
  color: rgba(46, 48, 56, 0.5607843137);
}

.talim__itms__disc {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #184AFB;
}

.imkon__blog {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
}

.imkon__title {
  color: rgba(46, 48, 56, 0.5176470588);
}

.imkon__bolg__itms {
  padding: 10px 10px;
  border-bottom: 2px solid #D9D9D9;
}

.berilgan {
  margin: 0px 0px 60px;
  display: grid;
  grid-template-columns: auto;
  gap: 25px;
}

.berilgan___box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.berilgan__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.berilgan__title {
  color: #56585E;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pages__box {
  border: 2px solid rgba(204, 204, 204, 0.8);
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.pages__box__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pages__title {
  color: #2E3038;
  font-family: "Michroma", sans-serif;
}

.pages__dics {
  color: #828388;
}

.pages__btn {
  border: 2px solid #CCCCCC;
  padding: 8px 10px;
  border-radius: 50px;
  background-color: inherit;
  color: #184AFB;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.foydalanish {
  margin: 0px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foydalanish-bekraunt {
  background-image: url("../imgs/bkg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  width: 100%;
  height: 250px;
  padding: 50px 0px;
  justify-content: end;
}

.foydalanish__title {
  width: 200px;
  color: #184AFB;
}

.foydalanish__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foydalanish__text__itms {
  border: 2px solid #CCCCCC;
  border-radius: 10px;
  padding: 20px 10px;
}

.foydalanish__info {
  color: #56585E;
  font-family: "Michroma", sans-serif;
  margin: 0px 0px 70px;
}

.foydalanish__btn {
  width: 120px;
  height: 35px;
  border-radius: 25px;
  background-color: #F5F5F5;
  color: #184AFB;
  border: none;
  margin: 30px 8px 0px;
}

.xamkorlar__title {
  color: #828388;
}

.xamkorlar__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.xamkorlar__itms {
  width: 100%;
  padding: 30px 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 50px;
  border: 2px solid #CCCCCC;
  /* border-bottom: 2px solid #CCCCCC;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #CCCCCC; */
}

.xamkorlar__itms img {
  width: 90%;
}

.yangilik {
  display: grid;
  grid-template-columns: auto;
  gap: 25px;
  margin: 0px 0px 50px;
}

.yangilik__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 2px solid #CCCCCC;
}

.yangilik__img {
  width: 100%;
}

.yangilik__img img {
  width: 100%;
}

.yangilik__img__text {
  display: flex;
}

.uyushma__btn {
  padding: 10px;
  border-radius: 20px;
  background-color: inherit;
  border: 2px solid #CCCCCC;
  color: #184AFB;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 17px;
}

.uyushma__btn2 {
  padding: 10px;
  border-radius: 20px;
  background-color: #184AFB;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 17px;
}

.uyushma__blog {
  display: grid;
  gap: 20px;
  grid-template-columns: auto;
}

.uyushma__blog.nr {
  margin: 0px 0px 50px;
}

.uyushma__itms {
  width: 100%;
}

.uyushma__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.uyushma__img img {
  width: 80%;
}

.uyushma__imgss {
  width: 30%;
}

.uyushma__imgss img {
  width: 100%;
}

.uyushma__text {
  padding: 10px 10px;
  border-left: 2px solid #CCCCCC;
}

.uyushma__blog__img {
  background-image: url("../imgs/uyushmapas.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 420px;
  border-radius: 10px;
}

.uyushma__blog__text {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 20px;
}

.uyushma__hom___pags {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .maqsad {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .maqsad__box {
    flex-direction: row;
  }
  .maqsad__logo {
    width: 20%;
    height: 10%;
    margin-top: 0px;
  }
  .maqsad__bosh {
    flex-direction: row;
    gap: 190px;
  }
  .maqsad .talim__blog {
    grid-template-columns: auto auto;
  }
  .maqsad .imkon__blog {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
  }
  .maqsad .berilgan {
    grid-template-columns: auto auto;
  }
  .maqsad .berilgan__text {
    flex-direction: row;
    align-items: center;
  }
  .maqsad .pages__box {
    flex-direction: row;
  }
  .maqsad .pages__btn {
    margin: 20px 0px;
    width: 150px;
    font-size: 17px;
  }
  .maqsad .foydalanish {
    flex-direction: row;
  }
  .maqsad .foydalanish__bekraunt {
    width: 100%;
    height: 370px;
    padding: 50px 20px;
  }
  .maqsad .foydalanish__title {
    width: 200px;
  }
  .maqsad .foydalanish__info {
    color: #56585E;
    font-family: "Michroma", sans-serif;
    margin: 0px 0px 35px;
  }
  .maqsad .foydalanish__text {
    width: 40%;
  }
  .maqsad .foydalanish__text__itms {
    height: 175px;
  }
  .maqsad .xamkorlar__box {
    margin: 30px 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .maqsad .yangilik {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
  }
  .maqsad .uyushma-blog {
    grid-template-columns: auto auto auto;
    margin: 0px 0px 50px;
  }
  .maqsad .uyushma__blog.nr {
    margin: 0px 0px 60px;
    grid-template-columns: 2fr 3fr;
  }
  .maqsad .uyushma__btn {
    width: 150px;
    height: 40px;
    margin: 10px 0px 0px;
  }
  .maqsad .uyushma__btn2 {
    width: 150px;
    height: 40px;
    margin: 10px 0px 0px;
  }
  .maqsad .uyushma__hom-pags {
    flex-direction: row;
    align-items: center;
  }
  .maqsad .uyushma__blog__img {
    width: 100%;
    height: 420px;
  }
  .maqsad .uyushma__blog__text {
    padding: 70px 20px 20px;
    justify-content: space-between;
    width: 100%;
    height: 420px;
  }
}
@media (min-width: 992px) {
  .maqsad {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .maqsad__box {
    flex-direction: row;
  }
  .maqsad__logo {
    width: 20%;
    height: 10%;
    margin-top: 0px;
  }
  .maqsad__box__itms {
    flex-direction: row;
  }
  .maqsad__box__itms__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .maqsadbox__itms__text {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .maqsad-text_title {
    font-size: 17px;
  }
  .maqsad__cards {
    margin: 20px 0px;
  }
  .maqsad__title {
    font-size: 40px;
  }
  .maqsad .talim-blog {
    grid-template-columns: auto auto auto;
  }
  .maqsad .foydalanish-bekraunt {
    height: 480px;
    padding: 50px 50px;
  }
  .maqsad .foydalanish-title {
    width: 250px;
    color: #184AFB;
    font-size: 20px;
  }
  .maqsad .foydalanish-text-itms {
    height: 231px;
  }
  .maqsad .yangilik {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
  }
}
.about-hero {
  padding: 60px 0px;
  text-align: center;
  display: flexa;
}

.about-hero__numbers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  text-align: start;
  gap: 30px;
}

.about-hero__numbers p {
  font-size: 25px;
  padding: 90px 0px;
}

.about-hero__numbers__one {
  border-right: 1px solid;
}

.about-hero__numbers__one h1 {
  color: #184AFB;
  font-size: 80px;
  font-weight: 100;
}

.about-hero__numbers__two {
  border-right: 1px solid;
}

.about-hero__numbers__two h1 {
  color: #184AFB;
  font-size: 80px;
  font-weight: 100;
}

.about-hero__numbers__three h1 {
  color: #184AFB;
  font-size: 80px;
  font-weight: 100;
}

.about-hero__img {
  width: 100%;
}

.about-hero__img img {
  width: 100%;
}

.about-hero__info {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  padding: 30px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-hero__info__title {
  font-size: 10px;
}

.about-hero__info__discription {
  color: #828388;
  font-size: 10px;
  width: 90%;
}

@media (min-width: 768px) {
  .about-hero__info__title {
    font-size: 25px;
  }
  .about-hero__info__discription {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .about-hero__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 190px;
  }
  .about-hero__info__title {
    font-size: 48px;
    width: 40%;
  }
  .about-hero__info__discription {
    font-size: 22px;
    width: 32%;
  }
}
.about-it__imgs {
  display: grid;
  gap: 20px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #CCC;
}

.about-it__uzb {
  padding: 40px 0px;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 12%;
}

.about-it__uzb button {
  width: 20%;
  height: 30px;
  background-color: inherit;
  color: #184AFB;
  border: 1px solid #184AFB;
  border-radius: 20px;
}

.about-it__uzb p {
  color: #5A5C72;
}

.about-it #about-it__title {
  display: flex;
  gap: 3px;
  align-items: center;
}

.about-it__img {
  border: 1px solid #CCC;
  padding: 50px;
  border-radius: 8px;
  width: 100%;
}

.about-it__img img {
  width: 100%;
}

.about-it__info {
  display: grid;
  gap: 20px;
}

.about-it__info p {
  color: #5A5C72;
  font-size: 20px;
}

.about-it__info__main {
  font-size: 10px;
}

.about-it__info__discription {
  font-size: 10px;
  color: #828388;
}

.about-it__info__button {
  padding: 6px 35px;
  border: 1px solid #184AFB;
  color: #184AFB;
  border-radius: 30px;
  background-color: white;
  font-size: 19px;
}

@media (min-width: 768px) {
  .about-it__info {
    align-items: center;
  }
  .about-it__info__main {
    font-size: 25px;
  }
  .about-it__info__discription {
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .about-it__imgs {
    align-items: start;
    padding: 80px 0px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .about-it #about-it__title {
    font-size: 26px;
    gap: 10px;
    background-color: red;
  }
  .about-it__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 20px;
  }
  .about-it__info__main {
    font-size: 37px;
    width: 97%;
  }
  .about-it__info__discription {
    font-size: 20px;
    width: 82%;
  }
  .about-it__info__button {
    padding: 10px 68px;
  }
}
.about-team {
  padding: 100px 0px;
  gap: 20px;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #CCC;
}

.about-team .logo {
  font-size: 30px;
  padding-top: 30px;
}

.about-team p {
  color: #596283;
}

.about-team__batafsil {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 20px 0px;
}

.about-team__top {
  display: grid;
  gap: 10px;
  padding: 20px 0px;
}

.about-team__bottom {
  display: grid;
  gap: 20px;
  align-items: end;
}

.about-team__select {
  display: grid;
  justify-content: space-between;
  height: 100%;
  padding-top: 120px;
  padding-left: 20px;
}

.about-team__select__row {
  border-bottom: 1px solid #CCC;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  font-size: 17px;
  text-align: start;
  gap: 8px;
}

.about-team__select__row i {
  font-size: 22px;
  border: 1px solid;
  padding: 4px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.about-team #about-team__title {
  display: flex;
  gap: 3px;
  align-items: center;
}

.about-team__info {
  display: grid;
  gap: 20px;
  align-items: center;
}

.about-team__info__main {
  font-size: 10px;
}

.about-team__info__discription {
  font-size: 10px;
  color: #828388;
}

.about-team__info__button {
  padding: 6px 35px;
  border: 1px solid #184AFB;
  color: #184AFB;
  border-radius: 30px;
  background-color: white;
  font-size: 19px;
}

.about-team__info__img {
  border-bottom: 1px solid #CCC;
  padding: 10%;
  border-radius: 8px;
  width: 100%;
  font-size: 10px;
  background-color: rebeccapurple;
}

.about-team__info__img__logo {
  font-size: 20px;
}

@media (min-width: 768px) {
  .about-team .logo {
    font-size: 60px;
  }
  .about-team p {
    font-size: 30px;
  }
  .about-team__info {
    display: grid;
    align-items: center;
  }
  .about-team__info__main {
    font-size: 25px;
  }
  .about-team__info__discription {
    font-size: 17px;
  }
  .about-team__img {
    padding: 10%;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
  }
  .about-team__img img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .about-team {
    padding: 80px 0px;
  }
  .about-team p {
    font-size: 20px;
  }
  .about-team__top {
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: space-between;
    padding-right: 520px;
    text-align: start;
  }
  .about-team__bottom {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    gap: 30px;
  }
  .about-team #about-team__title {
    font-size: 26px;
    gap: 10px;
  }
  .about-team__info {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 20px;
  }
  .about-team__info__main {
    font-size: 37px;
    width: 97%;
  }
  .about-team__info__discription {
    font-size: 20px;
    width: 82%;
  }
  .about-team__info .about-team__img__logo {
    font-size: 40px;
  }
}