.about-it{

    &__imgs{
        display: grid;
        gap: 20px;
        justify-content: center;
        text-align:  center;
        border-top: 1px solid #CCC;
    }

    &__uzb{
        padding: 40px 0px;
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: space-between;
        gap: 12%;
        button{
            width: 20%;
            height: 30px;
            background-color: inherit;
            color: #184AFB;
            border: 1px solid #184AFB;
            border-radius: 20px;

        }
        
        p{
            color: #5A5C72;
        }
    }
    

    #about-it__title{
        display: flex;
        gap: 3px;
        align-items: center;
    }

    &__img{
        border: 1px solid #CCC;
        padding: 50px;
        border-radius: 8px;
        width: 100%;

        img{
            width: 100%;
        }
    }

    &__info{
        display: grid;
        gap: 20px;
        
        p{
            color: #5A5C72;
            font-size: 20px;
        }

        &__main{
            font-size: 10px;
        }

        &__discription{
            font-size: 10px;
            color: #828388;
        }

        &__button{
            padding: 6px 35px;
            border: 1px solid #184AFB;
            color: #184AFB;
            border-radius: 30px;
            background-color: white;
            font-size: 19px;
        }
    }
}

@media (min-width:768px){
    .about-it{
        &__info{
            align-items: center;
            &__main{
                font-size: 25px;
            }

            &__discription{
                font-size: 17px;
            }
        }
    }
}

@media (min-width:1200px){
    .about-it{

        &__imgs{
            align-items: start;
            padding: 80px 0px;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
     

        #about-it__title{
            font-size: 26px;
            gap: 10px;
            background-color: red;
        }
        &__info{
            flex-direction: row;
            text-align: start;
            justify-content: start;
            gap: 20px;
            &__main{
                font-size: 37px;
                width: 97%;
            }

            &__discription{
                font-size: 20px;
                width: 82%;
            }

            &__button{
                padding: 10px 68px;
            }
        }
    }
}
