.hero{
    padding: 60px 0px;
    text-align: center;
    display: flexa;

    &__img{
        width: 100%;
        img{
            width: 100%;
        }
    }
    
    &__info{
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        padding: 30px 0px;
        justify-content: center;
        align-items: center;
        text-align:  center;
        

        &__title{
            font-size: 10px;

        }

        &__discription{
            color: #828388;
            font-size: 10px;
            width:90%;
        }
    }
}

@media (min-width:768px){
    .hero{
        &__info{
            &__title{
                font-size: 25px;
            }

            &__discription{
                font-size: 17px;
            }
        }
    }
}

@media (min-width:1200px){
    .hero{
        &__info{
            flex-direction: row;
            text-align: start;
            justify-content: start;
            gap: 190px;
            &__title{
                font-size: 48px;
                width: 40%;
            }

            &__discription{
                font-size: 22px;
                width: 32%;
                
            }
        }
    }
}
