.imkoniyat{
    padding: 100px 0px;
    gap: 20px;
    justify-content: center;
    text-align:  center;
    border-top: 1px solid #CCC;

    .logo{
        font-size: 30px;
        padding-top: 30px;
    }

    p{
        color: #596283;
    }

    &__batafsil{
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 20px 0px;
    }

    &__top{
        display: grid;
        gap: 10px;
        padding: 20px 0px;
    }

    &__bottom{
        display: grid;
        gap: 20px;
        align-items: end;
    }

    &__select{
        display: grid;
        justify-content: space-between;
        height: 100%;
        padding-top: 120px;
        padding-left: 20px;

        &__row{
            border-bottom: 1px solid #CCC;
            padding: 10px 0px;
            display: flex;
            align-items: center;
            font-size: 17px;
            text-align: start;
            gap: 8px;

            i{
                font-size: 22px;
                border: 1px solid;
                padding: 4px 20px;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }

    #imkoniyat__title{
        display: flex;
        gap: 3px;
        align-items: center;
    }


    &__info{
        display: grid;
        gap: 20px;
        align-items: center;

        &__main{
            font-size: 10px;
        }

        &__discription{
            font-size: 10px;
            color: #828388;
        }

        &__button{
            padding: 6px 35px;
            border: 1px solid #184AFB;
            color: #184AFB;
            border-radius: 30px;
            background-color: white;
            font-size: 19px;
        }


        &__img{
            border-bottom: 1px solid #CCC;
            padding: 10%;
            border-radius: 8px;
            width: 100%;
            font-size: 10px;
            background-color: rebeccapurple;
    
            &__logo{
                font-size: 20px;
            }
        }
    }
    }

@media (min-width:768px){
    .imkoniyat{

        .logo{
            font-size: 60px;
        }
        p{
            font-size: 30px;
        }
        &__info{
            display: grid;
            align-items: center;
            &__main{
                font-size: 25px;
            }

            &__discription{
                font-size: 17px;
            }
        }
        &__img{
            border-bottom: 1px solid #CCC;
            padding: 10%;
            border-radius: 8px;
            width: 100%;
            font-size: 14px;
    
            img{
                width: 100%;
            }
        }
    }
}

@media (min-width:1200px){
    .imkoniyat{
        align-items: end;
        padding: 80px 0px;

        p{
            font-size: 20px;
        }
    

        &__top{
            align-items: center;        
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-content: space-between;
            padding-right: 520px;
            text-align: start;
        }

        &__bottom{        
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            display: flex;
            justify-content: end;
            padding: 30px 0px;
            gap: 30px;
        }

        #imkoniyat__title{
            font-size: 26px;
            gap: 10px;
        }
        &__info{
            flex-direction: row;
            text-align: start;
            justify-content: start;
            gap: 20px;

            &__main{
                font-size: 37px;
                width: 97%;
            }

            &__discription{
                font-size: 20px;
                width: 82%;
            }

            &__button{
                padding: 10px 68px;
            }

            .imkoniyat__img__logo{
                font-size: 40px;
            }
        }
    }
}
