.imkoniyat2{
    padding: 100px 0px;
    gap: 20px;
    justify-content: center;
    text-align:  center;
    border-top: 1px solid #CCC;

    &__batafsil{
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 20px 0px;
    }

    &__top{
        display: grid;
        gap: 10px;
        padding: 20px 0px;
    }

    &__bottom{
        display: grid;
        gap: 30px;
        padding: 20px 0px;
    }

    &__select{
        display: grid;
        justify-content: space-between;
        height: 100%;
        padding-top: 120px;
        padding-left: 20px;

        &__row{
            border-bottom: 1px solid #CCC;
            padding: 10px 0px;
            display: flex;
            align-items: center;
            font-size: 17px;
            text-align: start;
            gap: 8px;

            i{
                font-size: 22px;
                border: 1px solid;
                padding: 4px 20px;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }

    #imkoniyat2__title{
        display: flex;
        gap: 3px;
        align-items: center;
    }

    &__img{
        padding: 10%;
        border-radius: 8px;
        width: 100%;
        font-size: 10px;

        img{
            width: 100%;
        }
    }

    &__info{
        display: grid;
        gap: 20px;

        &__main{
            font-size: 10px;
        }

        &__discription{
            display: flex;
            font-size: 10px;
            color: #828388;
            align-items: center;

            i{
                font-size: 34px;
            }
        }

        &__button{
            padding: 6px 35px;
            border: 1px solid #184AFB;
            color: #184AFB;
            border-radius: 30px;
            background-color: white;
            font-size: 19px;
        }
    }
}

@media (min-width:768px){
    .imkoniyat2{
        &__info{
            align-items: center;
            &__main{
                font-size: 25px;
            }

            &__discription{
                font-size: 17px;
            }
        }
        &__img{
            background-color: #F5F5F5;
            padding: 10%;
            border-radius: 8px;
            width: 100%;
            font-size: 24px;
    
            img{
                width: 40%;
                padding: 0px 0px 40px 0px;
            }
        }
    }
}

@media (min-width:1200px){
    .imkoniyat2{
        align-items: start;
        padding: 80px 0px;

        &__top{
            align-items: center;        
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-content: space-between;
            padding-right: 520px;
            text-align: start;
        }

        &__bottom{
            align-items: center;        
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-content: space-between;
        }

        #imkoniyat2__title{
            font-size: 26px;
            gap: 10px;
        }
        &__info{
            flex-direction: row;
            text-align: start;
            justify-content: start;
            gap: 20px;

            &__main{
                font-size: 37px;
                width: 97%;
            }

            &__discription{
                font-size: 20px;
                width: 82%;
            }

            &__button{
                padding: 10px 68px;
            }
        }
    }
}
