.imkon-talim{
    padding: 100px 0px;
    gap: 20px;
    justify-content: center;
    text-align:  center;
    border-top: 1px solid #CCC;

    &__batafsil{
        align-items: center;
        gap: 4px;
        padding: 5px 30px;
        border-radius: 20px;
        border: 1px solid blue;
        color: blue;
    }

    &__top{
        display: grid;
        gap: 10px;
        padding: 20px 0px;
    }

    &__bottom{
        display: grid;
        gap: 30px;
    }

    #imkon-talim__title{
        display: flex;
        gap: 3px;
        align-items: center;

    }

    &__img{
        width: 100%;
        font-size: 10px;

        &__title{
            p{
                font-size: 20px;
                padding: 20px 0px;
            }
        }

        img{
            width: 100%;
        }
    }

    &__info{
        display: grid;
        gap: 10px;
        border: 1px solid #CCC;
        border-radius: 8px;
        padding: 20px;

        &__main{
            font-size: 10px;
        }

        &__discription{
            font-size: 10px;
            color: #828388;
        }

        &__button{
            padding: 6px 35px;
            border: 1px solid #184AFB;
            color: #184AFB;
            border-radius: 30px;
            background-color: white;
            font-size: 19px;
        }
    }
}

@media (min-width:768px){
    .imkon-talim{
        &__info{
            align-items: center;
            padding: 30px;
            // &__main{
            //     font-size: 35px;
            // }

            &__discription{
                font-size: 17px;
            }
        }
        &__img{
            // padding: 10%;
            border-radius: 8px;
            width: 100%;
            font-size: 14px;
    
            img{
                width: 70%;
            }
        }
    }
}

@media (min-width:1200px){
    .imkon-talim{
        align-items: start;
        padding: 30px 0px;

        &__top{
            align-items: center;        
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-content: space-between;
            padding-right: 500px;
            text-align: start;
        }

        &__bottom{
            align-items: end;        
            // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            justify-content: end;
        }

        #imkon-talim__title{
            font-size: 26px;
            gap: 10px;
        }
        &__info{
            flex-direction: row;
            display: flex;
            text-align: start;
            justify-content: end;
            padding: 10px 40px;
            // gap: 20px;

            &__main{
                font-size: 37px;
                width: 87%;
            }

            &__discription{
                font-size: 20px;
                // width: 82%;
            }

            &__button{
                // padding: 10px 68px;
            }
        }
    }
}
